<H1>Data Science Tools and Ecosystem

<H2>Author : Wilson TSANG

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objective of Notebook</strong>
<ul>
    <li>Listing popular languages in Data Science</li>
    <li>Commonly used Libraries in Data Scientists</li>
    <li>Some Example Coding</li>
</ul>

Some of the popular languages that Data Scientists use are :
<ol>
  <li>Python</li>
  <li>Julia</li>
  <li>R</li>
</ol>

Some of the commonly used libraries in Data Scientists include :
<ol>
  <li>Numpy, Pandas in Python</li>
  <li>Matplotlib in Python</li>
  <li>ggplot, carat in R</li>
</ol>

There are some useful Data Science Tools as follows :

<table style="width:100%">
  <tr>
    <th>Tools</th>
  </tr>
      <tr>
    <td>R Studio</td>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>SAS</td>

  </tr>
</table>

<H3> Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# A simple arithmetic expression is shown as below
(3*4)+5

17

<H3>Converting minutes to hours

In [6]:
# 200 minutes to 3 1/3 hours 
200/60

3.3333333333333335